<<<<<<< HEAD
.container{
    max-width: 130px;
    margin: 0 auto;
    padding: 15px;
}
.section__site{
    white-space: nowrap;
=======
header {
    background-color: #000026;
    height: 30px;
    width: 100%;
    
}

.circled_menu {
    width: 24px;
>>>>>>> 17b41bf54b393ba427f85d7140f6e9aa5ec7ebc8
}