.container{
    max-width: 130px;
    margin: 0 auto;
    padding: 15px;
}
.section__site{
    white-space: nowrap;
}

.header {
    background-color: #000026;
    height: 60px;
    width: 100%;
    padding: 7px 10px;
}

.circled_menu {
    width: 24px;
}

.header-right {
    float: right;
}

.header-items {
    width: 40px;
}

.header-between {
    padding: 12px;
    display: flex;
}

.header-between::before {
    
}

.inline {
    display: inline-block;
}

.header-title, .header-description {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-title {
    font-weight: 800;
    font-size: 16pt;
}

.header-description {
    font-size: 14pt;
    font-weight: 200;
}

.header-between-img {
    padding: 10px;
}