<<<<<<< HEAD
<<<<<<< HEAD
.container{
    max-width: 130px;
    margin: 0 auto;
    padding: 15px;
}
.section__site{
    white-space: nowrap;
=======
header {
=======
.header {
>>>>>>> 29a31980f6adeb66893adc2f31f68b2f12709a92
    background-color: #000026;
    height: 60px;
    width: 100%;
}

.circled_menu {
    width: 24px;
<<<<<<< HEAD
>>>>>>> 17b41bf54b393ba427f85d7140f6e9aa5ec7ebc8
=======
}

.header-right {
    float: right;
}

.header-items {
    width: 35px;
>>>>>>> 29a31980f6adeb66893adc2f31f68b2f12709a92
}